body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  color:pink;
}
header{
  width: 100vw;
  font-size: 7vw;
  font-family: monospace;
  text-align: center;
}
section{
  width: 100vw;
  font-size: 4vw;
  font-family: monospace;
}
.question{
  display: flex;
  flex-direction: column;
  width: 100vw;
}
fieldset{
  width: 90vw;
}
legend{
  font-family: fantasy;
  font-size: 4vw;
}

input[type="radio"] + label {
  font-family: helvetica;
  font-size: 3vw;
}
input[type="radio"]:checked + label {
  font-size: 3.5vw;
}
#responses{
  width:100vw;
  font-family: mono;
  font-size: 4vw;
}
#submitButton{
  width: 20vw;
  height: 10vw;
  font-size:4vw;
}
