body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("images/KauiRollersLatino.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color:pink;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
header{
  width: 100vw;
  font-size: 7vw;
  font-family: 'Lobster', cursive;
  text-align: center;
  background-color: rgba(0,0,0,0.9);
}
section{
  width: 100vw;
  font-size: 5vw;
  font-family: 'PT Mono', monospace;
  background-color: rgba(0,0,0,0.8);
}
.question{
  display: flex;
  flex-direction: column;
  width: 100vw;
  
}
fieldset{
  width: 90vw;
  background-color: rgba(0,0,0,0.7);
}

legend{
  font-family: 'Montserrat', sans-serif;
  font-size: 4vw;
  color: whitesmoke;
}


#responses{
  width:100vw;
  font-family: 'PT Mono', monospace;
  font-size: 4vw;
  background-color: rgba(0,0,0,0.7);
  
}
.question input[type="radio"] {
  display: none;
}

.question label {
  font-size: 3vw;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.question label:hover {
  text-decoration: underline;
}

.question label input[type="radio"]:checked + span {
  color: white;
  font-size: 4vw;
}

#submitButton{
  width: 20vw;
  height: 10vw;
  font-size: 3vw;
}
