
header{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color:white; 
    text-align: center;
}
fieldset{
    width:200px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color:white; 
}
#questionnaireContainer{
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    background-color:#202020; 
}
#submitButton{
    width: 20vw;
    height: 10vw;
    font-size: 30px;
}
#responses{
    width: 100vw;
    background-color:#202020;
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}
